{% extends 'ships/base.html' %}

{% block content %}
{% for ship in ships %}
<div class="ship">
  <h3>The {{ ship.launchyr }} <a href="{% url 'ship_detail' shipname=ship.shipname %}">{{ ship.shipname }}</a>:</h3>A 
    {% if ship.typeclass == 'bb' %}
    battleship
    {% elif ship.typeclass == 'bc' %}
    battlecruiser
    {% else %}
    <!-- unknown typeclass (ship.typeclass) -->
    {% endif %}
    of class <a href="{% url 'ship_detail' shipname=ship.classname %}">{{ ship.classname }}</a>
</div>
{% endfor %}
{% endblock %}

